// BOOTSTRAP TOASTS 
.position-fixed.bottom-0.start-0.p-3.z-index-30

    // Bid placed Toast 
    .toast.hide.bg-body-lighter.shadow(role='alert', aria-live='assertive', aria-atomic='true')
        .toast-body.d-flex.align-items-center
            img.img-fluid.flex-shrink-0.rounded-circle(src="img/authors/author-9.jpg", alt="product", width="50")
            .ms-3.w-100
                .d-flex.align-items-center.justify-content-between
                    p.mb-1 Franklin Greer
                        span.text-muted.ms-1 placed a bid
                    button.btn-close.btn-close-white(type='button', data-bs-dismiss='toast', aria-label='Close')
                p.text-sm.text-muted.fw-normal.mb-2.d-flex.align-items-center
                    span.icon.bg-primary.text-white.me-2
                        i.lab.la-bitcoin.fa-fw
                    span Price: 
                    span.text-primary.ms-2 0.08 ETH
                    span.ms-2 1/12
                .d-flex.align-items-center.justify-content-between.flex-wrap
                    .me-2.d-fle.align-items-center
                        span.small.my-2.me-2 30 mins ago
                        span.small.muted
                            i.las.la-shield-alt.me-2.la-xs.text-primary
                            | Verified
                    a.muted.text-hover-primary(href="#!")
                        i.las.la-link.la-sm

    // Bid placed Toast 
    .toast.hide.bg-body-lighter.shadow.mt-3(role='alert', aria-live='assertive', aria-atomic='true')
        .toast-body.d-flex.align-items-center
            img.img-fluid.flex-shrink-0.rounded-circle(src="img/authors/author-5.jpg", alt="product", width="50")
            .ms-3.w-100
                .d-flex.align-items-center.justify-content-between
                    p.mb-1 Jimmey Wright
                        span.text-muted.ms-1 placed a bid
                    button.btn-close.btn-close-white(type='button', data-bs-dismiss='toast', aria-label='Close')
                p.text-sm.text-muted.fw-normal.mb-2.d-flex.align-items-center
                    span.icon.bg-primary.text-white.me-2
                        i.lab.la-bitcoin.fa-fw
                    span Price: 
                    span.text-primary.ms-2 0.085 ETH
                    span.ms-2 1/20
                .d-flex.align-items-center.justify-content-between.flex-wrap
                    .me-2.d-fle.align-items-center
                        span.small.my-2.me-2 25 mins ago
                        span.small.muted
                            i.las.la-shield-alt.me-2.la-xs.text-primary
                            | Verified
                    a.muted.text-hover-primary(href="#!")
                        i.las.la-link.la-sm
