<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heirloom</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
</head>

<body>
    <header>
    </header>

    <main>
        <div id="videoConteiner">
            <h2>What is HeirloomDAO?</h1>
                <div id="video">
                    VIDEO
                </div>
        </div>
        <section id="products">
            <div id="search">
                <h2>Search the best saas products</h2>
                <form id="searchbar">
                    <input type="text" name="navBar" id="navBar" placeholder="Search">

                    <button type="submit" id="search-btn" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div id="featuredProducts">

                <h2>Featured Products</h2>

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active" id="item1">
                            <div class="container">
                                <img src="\images\office.png" alt="">
                                <h1>Product</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, minus? Iure eius magnam
                                    maxime doloremque error voluptates sint id qui earum quas illum non ea fugit, porro
                                    vero doloribus officiis!</p>
                                <a href="#" class="btn btn-lg btn-primary">
                                    Buy
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container" id="item2">
                                <img src="\images\excel.png" alt="">
                                <h1>Product</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, minus? Iure eius magnam
                                    maxime doloremque error voluptates sint id qui earum quas illum non ea fugit, porro
                                    vero doloribus officiis!</p>
                                <a href="#" class="btn btn-lg btn-primary">
                                    Buy
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item" id="item3">
                            <div class="container">
                                <img src="\images\adobe.png" alt="">
                                <h1>Product</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, minus? Iure eius magnam
                                    maxime doloremque error voluptates sint id qui earum quas illum non ea fugit, porro
                                    vero doloribus officiis!</p>
                                <a href="#" class="btn btn-lg btn-primary">
                                    Buy
                                </a>
                            </div>
                        </div>

                    </div>
                    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                        <span class="sr-only"></span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                        <span class="sr-only"></span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>

                <div id="container">
                    <div id="space1">
                        <article class="product1">
                            <img src="\images\office.png" alt="">
                            <h1>Product1</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="#" class="btn btn-lg btn-primary">
                                Buy
                            </a>
                        </article>
                    </div>


                    <div id="space2">
                        <article class="product2">
                            <img src="\images\office.png" alt="">
                            <h1>Product2</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="#" class="btn btn-lg btn-primary">
                                Buy
                            </a>
                        </article>
                        <article class="product2">
                            <img src="\images\office.png" alt="">
                            <h1>Product2</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="#" class="btn btn-lg btn-primary">
                                Buy
                            </a>
                        </article>
                    </div>


                    <div id="space3">
                        <article class="product3">
                            <img src="\images\office.png" alt="">
                            <h1>Product3</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="#" class="btn btn-lg btn-primary">
                                Buy
                            </a>
                        </article>
                        <article class="product3">
                            <img src="\images\office.png" alt="">
                            <h1>Product3</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="#" class="btn btn-lg btn-primary">
                                Buy
                            </a>
                        </article>
                    </div>


                </div>

            </div>


        </section>

        <section id="launch">
            <h2>Interested in launching software here?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ut aliquid fugiat, eius velit sed perspiciatis id harum, deserunt officiis at voluptatibus delectus voluptatem sequi illo repellendus voluptate veritatis ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt reprehenderit aliquid. Molestiae aspernatur mollitia est repellat neque nemo blanditiis. Beatae aut ducimus obcaecati quae sapiente ullam cum accusamus deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ullam quidem amet delectus fugiat, placeat, eos vitae aspernatur illum, nemo a reprehenderit. Totam ipsa debitis, facere suscipit iusto recusandae error.</p>
        </section>

    </main>



    <footer>
    </footer>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>