extends _pug-includes/layout

block vars 
    - var contact = true
    - var heroPage = true
    - var pageTitle = 'Contact Us'

block content

    //- Hero Section 
    include _pug-includes/page-hero.pug
    

    // CONTACT SECTION 
    section.py-5
        .container.py-5
            .row.g-4

                // Contact Info 
                .col-lg-4
                    .card
                        .card-body.p-4.p-lg-5
                            h5.mb-4 We are here for help you!
                            ul.list-unstyled.mb-4
                                li.d-flex.mb-4
                                    .contact-icon.bd-3.border-primary.text-primary.flex-shrink-0
                                        i.las.la-globe
                                    .ms-3
                                        h6 Company Address
                                        p.text-sm.text-muted.mb-0 23 July st Bank Misr. Gharbeya, Basyun, EG.
                                li.d-flex.mb-4
                                    .contact-icon.bd-3.border-primary.text-primary.flex-shrink-0
                                        i.las.la-phone
                                    .ms-3
                                        h6 Hot lines
                                        ul.list-unstyled
                                            li
                                                a.text-decoration-none.text-sm.text-muted.mb-1(href="tel:454759654")  +20 454 895 552
                                            li
                                                a.text-decoration-none.text-sm.text-muted.mb-0(href="tel:tel:454759654") +20 454 746 249
                                li.d-flex.mb-3
                                    .contact-icon.bd-3.border-primary.text-primary.flex-shrink-0
                                        i.las.la-envelope
                                    .ms-3
                                        h6 Email address
                                        ul.list-unstyled.mb-0
                                            li
                                                a.text-decoration-none.text-sm.text-muted.mb-1(href="mailto:example@test.com") example@test.com
                                            li 
                                                a.text-decoration-none.text-sm.text-muted.mb-1(href="mailto:company@test.com") company@test.com

                            // Social Info 
                            h2.h5.mb-1 We are social
                            p.small.text-muted.mb-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repudiandae cumque architecto. 
                            ul.list-inline.mb-0
                                each val in ['lab la-facebook-f', 'lab la-pinterest', 'lab la-twitter', 'las la-link']
                                    li.list-inline-item
                                        a.social-link.bg-hover-primary(href="#") 
                                            i(class=val)
                
                // Contact Form 
                .col-lg-8
                    .card
                        .card-body.p-4.p-lg-5
                            .d-flex.align-items-center.mb-4
                                .icon.icon-md.me-2.flex-shrink-0.bg-primary.rounded-sm.text-white
                                    i.las.la-pen-alt
                                h2.h5.mb-0 Drop us a line

                            form.contact-form(action="#") 
                                .row.gy-3
                                    .col-lg-6
                                        label.form-label(for="fullname")  Full name
                                        .input-group
                                            .input-group-text.border-end-0.pe-0
                                                i.text-primary.las.la-user
                                            input.form-control.shadow-0.border-start-0(type="text", autocomplete="off" name='fullname' id='fullname', placeholder="Enter your full name")
                                    .col-lg-6
                                        label.form-label(for="email")  Email address
                                        .input-group
                                            .input-group-text.border-end-0.pe-0
                                                i.text-primary.las.la-envelope
                                            input.form-control.shadow-0.border-start-0(type="email", autocomplete="off" name='email' id='email', placeholder="Enter your email address")
                                    .col-lg-6
                                        label.form-label(for="phone")  Phone number
                                        .input-group
                                            .input-group-text.border-end-0.pe-0
                                                i.text-primary.las.la-phone
                                            input.form-control.shadow-0.border-start-0(type="text", autocomplete="off" name='phone' id='phone', placeholder="Enter your phone number")
                                    .col-lg-6
                                        label.form-label(for="subject")  Subject
                                        .input-group
                                            .input-group-text.border-end-0.pe-0
                                                i.text-primary.las.la-file-alt
                                            input.form-control.shadow-0.border-start-0(type="text", autocomplete="off" name='subject' id='subject', placeholder="Enter your subject")
                                    .col-lg-12
                                        label.form-label(for="message")  Message
                                        textarea.form-control.shadow-0(rows="4" name='message' id='message', placeholder="How can we help you")
                                    .col-lg-12
                                        button.btn.btn-primary.w-100(type="submit") 
                                            i.las.la-paper-plane.me-2
                                            | Send your message

    
